<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <div class=" navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex flex-row justify-content-between align-items-baseline">
        <a routerLink="/">
          <div class="logo ">
            <img src="https://www.pngkit.com/png/full/364-3642224_clarity-ecommerce-logo-logo-e-commerce-png.png" alt="">
          </div>
        </a>
        <div class="d-flex gap-3 fs-5 my-nav">
          <a class="nav-link " routerLink="/sign-up"  routerLinkActive="active-route">sign-up</a>
          <a class="nav-link"  routerLink="/login" routerLinkActive="active-route">Login</a>
          <a class="nav-link"  routerLink="/cart" routerLinkActive="active-route"><i class="fa-solid fa-cart-shopping fs-3 position-relative">
            <div class="count-header">
              {{ totalItems }}
            </div>
          </i></a>
        </div>
      </div>
    </div>
  </div>
</nav>
