
.product{
  padding: 4% 10%;
}
.product-image{
  background: #49c1e1;
  border-radius: 10px;
}

.in-stock-badge{
  background-color: #23bf23;
}
.in-stock{
color: #079207;
}
.out-stock-badge{
background-color: red;
}

.out-stock{
  color: red;
}

.more-quote{
  margin-bottom: 2px;
}
.tags-info{
  background: #49c1e1;
  border-radius: 15px;
  padding: 2px 18px;
  font-weight: 700;
}

.total-btn{
  background: #49c1e1;
  color: white;
  font-weight: 700;
  font-size: 24px;
}


.custome-btn {
  background: #49c1e1;
  padding: 7px 27px;
  font-weight: 600;
  color: white;
  font-weight: 700;
}
.custome-btn:hover{
  background-color: white;
  outline: 2px solid #49c1e1;
  color: #49c1e1;
  transition: 0.3s;
}
