<div class="p-5 row row-cols-1 row-cols-md-2 g-5 justify-content-between">
  <div class="d-flex justify-content-center">
    <img [src]="productDetails.thumbnail" alt class="w-75 product-image">
  </div>

  <div>
    <div class="border-1 border-bottom py-3">
      <p class="fs-2 fw-bold">{{productDetails.title}}</p>
      <p>{{productDetails.description}}</p>
      <div [innerHTML]="productDetails.rating | rating"></div>
      <p class="fw-bold">{{productDetails.price | currency }}</p>
    </div>

    <div class="py-3 d-flex flex-column border-1 border-bottom py-3">
      <div>
        @if(productDetails.stock == 0){
        <p class="badge rounded-pill out-stock-badge">Out Of Stock</p>
        }@else {
        <p class="badge rounded-pill in-stock-badge">In Stock</p>
        }
      </div>
      <div>
        <p class="more-quote">More Information</p>
        <div class="d-flex gap-2">
          @for (tag of productDetails.tags ; track $index) {
          <p class="tags-info">{{tag}}</p>
          }
        </div>
      </div>
    </div>

    <div class="py-3 d-flex justify-content-between ">

      <div class="d-flex flex-column">
        <div class="d-flex align-items-center">
          <button (click)="decreaseQuantity()"
            class="btn btn-outline-secondary total-btn">-</button>
          <span class="mx-2 fs-2">{{quantity}}</span>
          <button (click)="increaseQuantity()"
            class="btn btn-outline-secondary total-btn">+</button>
        </div>
        <p class="mt-2">Total: {{productDetails.price | total:quantity | currency}}</p>
      </div>
      @if(productDetails.stock == 0){
        <div>
          <p class="out-stock fw-bolder">Sorry , Out Of Stock !</p>
        </div>
      }
      @else {
        <div>
          <p class="fw-bolder">Only <span class="in-stock">{{productDetails.stock}} Item</span> left </p>
        </div>
      }

    </div>
    <div class="d-flex justify-content-end">
      <button class="btn custome-btn">
        Add To Cart
      </button>
    </div>
  </div>
</div>
