<div class="p-5 row row-cols-1 row-cols-md-4 g-4">
  @for (product of products; track product.id) {
  <div class="col">
   <!-- <app-product  [productItem]="product"  (handleSendData)="handleReceiveData($event)"></app-product> -->
   <app-product  [productItem]="product" ></app-product>
  </div>
  } @empty {
    <div class="d-flex justify-content-center w-100">
      <img class="w-50" src="https://cdn.dribbble.com/users/1489103/screenshots/6326497/no-data-found.png" alt="">
    </div>
  }
</div>
